.todo-app {
    background: #eee;
    padding: 5px;
    line-height: 34px;
}

.btn {
    margin: 0 3px;
    display: inline-block;
    padding: 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    border-color: rgba(0, 0, 0, .12);
    border: 1px solid currentColor;
    padding: 0 15px;
    line-height: 34px;
    overflow: hidden;
    cursor: pointer;
}

.btn.btn-text {
    text-decoration: none;
    border: none;
}

.btn.btn-primary {
    background: indigo;
    color: #eee;
}

input {
    line-height: 34px;
}